.cart {
  &__title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1c1c27;
    margin-bottom: 13px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__card {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 7px 28px 17px 16px;
    width: 633px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    &-overview {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &-description {
      margin-left: 3px;
      display: flex;
      align-items: center;
      gap: 23px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 11px;
      margin-top: 30px;
    }

    &-price {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #aaaaaa;
    }

    &-img {
      width: 146.5px;
    }

    &-title {
      margin: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      color: #1c1c27;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }

      &-link {
        text-decoration: none;
      }
    }

    &-count {
      display: flex;
      gap: 24px;
      align-items: center;
      &-num {
        margin-top: 4px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
      }

      &-minus,
      &-plus {
        cursor: pointer;
      }

      &-minus ellipse,
      &-plus ellipse {
        transition: opacity 0.3s;
      }

      &-minus:hover ellipse,
      &-plus:hover ellipse {
        opacity: 0.7;
      }

      &-minus:active,
      &-plus:active {
        transform: translate(2px, 2px);
      }
    }

    &-total {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 11px;
      margin-bottom: 4px;

      &-price {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #1c1c27;
      }
    }

    &-delete-btn {
      display: flex;
    }

    &-delete-btn-ico:hover {
      // cursor: pointer;
      animation: shaking 0.2s infinite;
    }
  }

  &__checkout-total {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 349px;
    padding: 22px 18px 74px 21px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    &-text,
    &-price {
      text-transform: uppercase;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
  }

  &__checkout-order-btn {
    position: relative;
    bottom: 58px;
    width: 100%;
    background-color: #101010;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    cursor: pointer;
    padding: 22px 0;

    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: background-color 0.3s;
    &:hover {
      background-color: #ffa542;
    }
  }
}

@keyframes shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
